
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="https://carloscr99.gitlab.io/blog/index.html">Carlos Colomer Revert - Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://carloscr99.gitlab.io/blog/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://carloscr99.github.io/">Mi Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://carloscr99.gitlab.io/blog/about.html">Acerca de mi</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>